<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- FONT AWESOME -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravelSystem.styles.css" asp-append-version="true" />
</head>
<body>
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor

    @{
    var userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserID");
    var user = HttpContextAccessor.HttpContext.Session.GetString("UserEmail");
    var roleId = HttpContextAccessor.HttpContext.Session.GetInt32("RoleId");
    }

    <!-- NAVBAR -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
            <div class="container-fluid">

                <a class="navbar-brand fw-bold text-primary" asp-page="/Index">
                    <span style="font-style:italic">
                        Go<span class="text-danger">Viet</span>
                    </span>
                </a>

                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarMain">
                    <span class="navbar-toggler-icon"></span>
                </button>

                    <!-- RIGHT MENU -->
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Index">Trang chủ</a>
                        </li>

                        @if (roleId == 2)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Agents/AgentRegisters/AgentRegister">
                                    Trở thành đối tác
                                </a>
                            </li>
                        }
                        @if (roleId == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Admin/Dashboard/Index">">
                                    Bảng điều khiển
                                </a>
                            </li>
                        }

                        @if (roleId == 3)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Agents/Dashboard/Index">
                                    Bảng điều khiển
                                </a>
                            </li>
                        }
                        @if (string.IsNullOrEmpty(user))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Users/Registers/Register">
                                    Đăng ký
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="btn btn-primary px-3 ms-2" asp-page="/Auths/Login">
                                    Đăng nhập
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                    <i class="fa fa-user text-primary"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-end">

                                    <li>
                                        <a class="dropdown-item"
                                           asp-page="/Users/Profiles/Details"
                                           asp-route-id="@userId">
                                            Xem tài khoản
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item text-danger" asp-page="/Auths/Logout">
                                            Đăng xuất
                                        </a>
                                    </li>

                                </ul>

                            </li>
                        }

                    </ul>

                </div>

            </div>
        </nav>
    </header>
    <div class="main-layout">

    @{
        var path = Context.Request.Path.ToString().ToLower();
    }

    @if (roleId == 3 && path.StartsWith("/agents"))
    {
        <partial name="SideNavAgent" />
    }

    @if (roleId == 1 && path.StartsWith("/admin"))
    {
        <partial name="SideNavAdmin" />
    }

    <main class="content">
        @RenderBody()
    </main>

    </div>


    <footer class="bg-dark text-light">
    <div class="container py-5">

        <div class="row text-center justify-content-center">

            <div class="col-md-3 mb-4">
                <h5>Hỗ trợ</h5>
                <ul class="list-unstyled">
                    <li>Chúng tôi</li>
                    <li>Liên hệ</li>
                    <li>FAQ</li>
                    <li>Điều khoản</li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5>Hợp tác</h5>
                <ul class="list-unstyled">
                    <li>Đăng ký công ty</li>
                    <li>Hướng dẫn hệ thống</li>
                    <li>Chính sách hợp tác</li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5>Liên hệ</h5>
                <p>Thạch Thất, Hà Nội</p>
            </div>

            <div class="col-md-3 mb-4">
                <h5>Follow</h5>
                <i class="fab fa-facebook fs-4 me-2"></i>
                <i class="fab fa-youtube fs-4"></i>
            </div>

        </div>

        <hr class="border-secondary">

        <div class="text-center">
            © 2026 GoViet. All Rights Reserved.
        </div>

    </div>
</footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>