<div id="sidebar" class="sidebar">
    <h4 class="sidebar-title">Bảng điều khiển</h4>
    <a asp-page="/Admin/Dashboard/Index">
        <i class="fa-solid fa-chart-pie"></i> Thống kê
    </a>
    <a asp-page="/Admin/Account/Index">
        <i class="fa-solid fa-users"></i> Quản lý tài khoản
    </a>
    <a asp-page="/Admin/Statistic/Index">
        <i class="fa-solid fa-chart-line"></i> Quản lý doanh thu
    </a>
    <a asp-page="/Admin/VAT/Index">
        <i class="fa-solid fa-calculator"></i> Quản lý thuế
    </a>
        <a asp-page="/Admin/Vouchers/Index">
        <i class="fa-solid fa-ticket"></i> Quản lý thẻ khuyến mãi
    </a>
</div>