<div id="sidebar" class="sidebar">
    <h4 class="sidebar-title">Bảng điều khiển</h4>
    

    <a asp-page="/Staffs/Withdraws/WithdrawManage">
        <i class="fa-solid fa-chart-line"></i> Quản lý yêu cầu rút tiền
    </a>

    <a asp-page="/Staffs/CancelBooking/RequestCancelManage">
        <i class="fa-solid fa-calculator"></i> Quản lí du khách huỷ chuyến đi
    </a>

    <a asp-page="/Staffs/CancelBooking/ManageRequestAgentCancel">
        <i class="fa-solid fa-chart-line"></i> Quản lý đại lý huỷ chuyến đi
    </a>

    <a asp-page="/Staffs/Vouchers/Index">
        <i class="fa-solid fa-ticket"></i> Quản lý thẻ khuyến mãi
    </a>

</div>