<div id="sidebar" class="sidebar">

    <h4 class="sidebar-title">Bảng điều khiển</h4>

    <a asp-page="/StatisticAgent">
        <i class="fa-solid fa-chart-pie"></i> Thống kê
    </a>

    <a asp-page="/Tours/Index">
        <i class="fa-solid fa-gears"></i> Quản lý danh sách tour
    </a>

    <a asp-page="/ManageTourBooked">
        <i class="fa-solid fa-ticket"></i> Quản lý chuyến đi đã đặt
    </a>

    <a asp-page="/ManagementAccommodation">
        <i class="fa-solid fa-hotel"></i> Quản lý khách sạn
    </a>

    <a asp-page="/ManageRestaurant">
        <i class="fa-solid fa-utensils"></i> Quản lý nhà hàng
    </a>

    <a asp-page="/ManageEntertainment">
        <i class="fa-solid fa-face-smile"></i> Quản lý giải trí
    </a>

    <a asp-page="/Agents/AgentProfiles/Profile">
        <i class="fa-solid fa-user"></i> Thông tin đại lí
    </a>

</div>

